/* Only styles that can't be expressed in Tailwind arbitrary values */
.theme-button {
    background-image: url(/assets/rough-border-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-letter {
    background-image: url(/assets/bg-letter-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}