/* Font imports */
@import '@fontsource/noto-serif/400.css';
@import '@fontsource/noto-serif/700.css';
@import '@fontsource/parisienne/400.css';
@import '@fontsource/roboto-condensed/400.css';
@import '@fontsource/roboto-condensed/700.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f7;
  color: #2c2c2c;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}
