@import 'tailwindcss';

/* Font imports */
@import '@fontsource/kalam/400.css';
@import '@fontsource/kalam/700.css';
@import '@fontsource/noto-serif/400.css';
@import '@fontsource/noto-serif/700.css';
@import '@fontsource/parisienne/400.css';
@import '@fontsource/roboto-condensed/400.css';
@import '@fontsource/roboto-condensed/700.css';

@theme {
  --font-kalam: 'Kalam', cursive;
  --font-noto-serif: 'Noto Serif', serif;
  --font-parisienne: 'Parisienne', cursive;
  --font-roboto-condensed: 'Roboto Condensed', sans-serif;

  --color-grey-olive: #918974;
  --color-fuchsia-plum: #bc6890
}


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--font-roboto-condensed);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #faf9f7;
    color: #2c2c2c;
    min-height: 100vh;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-noto-serif);
  }
}